<%= render 'shared/content_title', title: 'All Departments' %>

 <% Department.all.each do |department| %>
    <li>
   		<%= link_to department.name, department_path(department) %>
   	</li>
 <% end %>

<% Department.all.each do |d| %>
    	<li>
    		 <%= d.name %>, <%= d.list_order %>,  

    	</li>
<% end %>

<h2>test</h2>